html {
  scroll-behavior: smooth;
}
body {
  min-height: 10px;
  background-color: #696969 ;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin:0;
}

header {
	background-image: url('') ;
	text-align: center;
	background-position: center top	;
	width: 100%;
	height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding-top:30%;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
    
}
h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 3px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	position: relative;
	background: #fff;
	margin-bottom: 60px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}




footer {

  background: #dddee1;
  padding: 5vh 0;
  text-align: center;
  position: relative;
}

small {
  opacity: .5;
  font-weight: 300;
}
small a {
  color: inherit;
}




nav{
  background: transparent;
   margin: auto;
    position: -webkit-sticky;
  position: sticky;
  top: 0px;
    z-index:5;
}
nav:hover{
  background: #696969;
}

nav .menuItems {
 display: block;
  text-align: center;
margin: 0 auto;
font-size: 20px;
 
}
nav .menuItems li {
  margin: 0 auto;
  text-align: center;
display: inline-block;
 padding: 0 20px;
  position: relative;
  text-align: center;
  background: transparent;
}
nav .menuItems li a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
}
nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #14ffec;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
  text-align: center;
}
nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

section {
  position: relative;
  scroll-snap-align: center;
  z-index:1;
}

.white-block {
  background:transparent;
  width:60%;
  padding-bottom: 1%;
  padding-top: 2%;
  margin:auto;
  border-bottom-style:solid;
  border-bottom-color:"white";
  border-width: 1px;
  color:#fff;
}



.cards {
  width: calc(100% - 2em);
  margin:auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  grid-template-areas: "a a b c" "a a d d";
  width: 60%;
  height:1%;
}

.card {
  width: 100%;
  position: relative;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.card:last-child {
  margin-bottom: 0;
}
.card:before {
  height: 0;
  content: "";
  display: block;
  padding-bottom: 47.36%;
}
.card.content:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
}
.card:nth-child(1) {
  grid-area: a;
}
.card:nth-child(2) {
  grid-area: b;
}
.card:nth-child(3) {
  grid-area: c;
}
.card:nth-child(4) {
  grid-area: d;
}
.card-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-label {
  position: absolute;
  top: .45rem;
  left: .45rem;
  background: #089f8a;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.7em;
  color: white;
  padding: 0.5em;
}
.card-title {
  position: absolute;
  left: 1em;
  bottom: 1em;
  color: #d6dbeb;
  z-index: 5;
  font-size: 0.8em;
}

.card.link .form-title {
  position: absolute;
  left: 2em;
  bottom: 1em;
  font-size: 3vw;
  font-weight: 900;
  z-index: 5;
  text-transform: uppercase;
  background: transparent;

}

.card:nth-child(2) .card-label {
  background: #ef4e7b;
}
.card:nth-child(3) .card-label {
  background: #1098ad;
}
.card.link:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}